body{
    background-color: #C0C0C0;
}

.divB{
    background-color: white;
    height: 500px;
    width: 50vw;
    border: 10px dotted black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.divC{
    background-color: yellow;
    height: 50px;
    width: 30%;
}

.divD{
    background-color: rgb(255,69,0);
    height: 100px;
    width: 30%;
}

.divE{
    background-color: rgb(0,128,0);
    color: white;
    font-size: 30px;
    padding: 50px 50px 50px 50px;
    margin-top: 50px;
    margin-left: 50px;
}